div(style='width:50%; margin-left:25%;') 
  if productos.length
    fieldset
      table(style='width:100%')
        tr  
          th Nombre
          th Precio
          th Img
        tr 
         each val  in productos
          tr(style='color: rgb(232, 232, 232); background-color: darkgrey;') 
            th= val.title
            th= val.price
            td
              img(style='width:50px; margin-left:42%' src= val.url)
            br
  else
    p No hay productos
script(src='../../../public/js/cliente.js')